In [11]:
import pandas as pd
data=pd.read_csv('gender2.csv',encoding='CP949', index_col=0)
data=data.loc[:,["2022년_계_총인구수","2022년_남_총인구수","2022년_여_총인구수"]]
df=pd.DataFrame(data)
df.columns=['Total','Male','Female']
df

                            Total        Male      Female
행정구역
전국  (0000000000)       51,439,038  25,636,951  25,802,087
서울특별시  (1100000000)     9,428,372   4,570,048   4,858,324
부산광역시  (2600000000)     3,317,812   1,619,915   1,697,897
대구광역시  (2700000000)     2,363,691   1,162,865   1,200,826
인천광역시  (2800000000)     2,967,314   1,485,175   1,482,139
광주광역시  (2900000000)     1,431,050     707,299     723,751
대전광역시  (3000000000)     1,446,072     721,245     724,827
울산광역시  (3100000000)     1,110,663     570,368     540,295
세종특별자치시  (3600000000)     383,591     191,389     192,202
경기도  (4100000000)      13,589,432   6,839,276   6,750,156
강원도  (4200000000)       1,536,498     772,947     763,551
충청북도  (4300000000)      1,595,058     810,782     784,276
충청남도  (4400000000)      2,123,037   1,086,632   1,036,405
전라북도  (4500000000)      1,769,607     880,592     889,015
전라남도  (4600000000)      1,817,697     915,272     902,425
경상북도  (4700000000)      2,600,492   1,311,881   1,288,611
경상남도  (4800000000)      3,280,493   1,651,675   1,628,818
제주특별자치도  (5000000000)     678,159     339,590     338,569